#profile-interest-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#profile-text-input {
  width: 30rem;
}

#profile-input-bull-icon {
  width: 2.25rem;
}
