#footer {
  height: 6rem;
  border-top: 1px solid var(--mantine-color-gray-2);
  background-color: var(--mantine-color-gray-0);
}

#footer-inner {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

#footer-inner > * {
  margin: 1rem 2rem;
}

#footer-icon {
  width: 3.5rem;
}
