#authentication-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#auth-form {
  width: 25rem;
  padding: 2rem;
  margin-top: 2rem;
}
