#search-pane {
  margin: 1rem;
  padding: 1rem;
  min-width: 21rem;
}

#searchbar-span {
  display: flex;
  align-items: center;
}

#searchbar-wrapper {
  width: 100%;
  margin: 0rem 1rem 0rem 0rem;
}

#filters-button {
  margin: 0rem;
}
