#search-panel {
  flex: 15%;
  background-color: aliceblue;
}

#search-panel > * {
  margin: 1rem;
}

#map-area {
  flex: 75%;
  background-color: green;
}

#google-map {
  width: 100%;
  height: 100%;
}

#home-body {
  display: flex;
  height: 100vh;
}
