#header {
  width: 100vw;
  height: 4rem;
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

#header-spacing-group {
  height: 100%;
  justify-content: space-between;
}

#footer {
  width: 100vw;
  height: 8rem;
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);
  border-top: 1px solid var(--mantine-color-gray-2);
}

#footer-spacing-group {
  height: 100%;
  justify-content: space-around;
}

#search-panel {
  flex: 25%;
  background-color: aliceblue;
}

#search-panel > * {
  margin: 1rem;
}

#searchbox-span {
  display: flex;
  align-items: center;
}

#searchbox-span > * {
  margin: 1rem;
}

#search-filters {
  display: flex;
  justify-content: space-between;
}

#search-filters > * {
  width: 48%;
}

#map-area {
  flex: 75%;
  background-color: green;
}

#google-map {
  width: 100%;
  height: 100%;
}

#home-body {
  display: flex;
  height: 100vh;
}
