#home-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 15%;
  background-color: aliceblue;
}

#home-panel > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

#map-area {
  flex: 75%;
  background-color: green;
}

#google-map {
  width: 100%;
  height: 100%;
}

#home-body {
  display: flex;
  height: 100vh;
}
