#search-pane {
  padding: 1rem;
}

#searchbar-span {
  display: flex;
  align-items: center;
}

#searchbar-wrapper {
  width: 100%;
  margin: 0rem 1rem 0rem 0rem;
}

#filters-button {
  margin: 0rem;
}

#search-filters {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#search-filters > * {
  width: 48%;
}
