#search-pane {
  padding: 1rem;
}

#searchbar-span {
  display: flex;
  align-items: center;
}

#searchbar-wrapper {
  width: 100%;
  margin: 0rem 1rem 0rem 0rem;
}

#filters-button {
  margin: 0rem;
}

#search-filters {
  display: flex;
  flex-direction: column;
}

#transit-filters {
  display: flex;
  justify-content: space-between;
}

#transit-filters > * {
  width: 48%;
}

#preference-filters {
  display: flex;
  justify-content: space-between;
}

#star-rating-wrapper,
#budget-wrapper {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#star-rating-spacer {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
}
