.detail-pane {
  margin: 0 0rem 0.5rem 0rem;
  padding: 1rem;
  transition: padding 0.3s ease-in-out 0.3s;
}

.detail-pane:hover {
  transition: padding 0.2s ease-in-out 0.2s;
  padding: 2rem 1rem;
}

.instructions {
  white-space: pre-line;
}
